<div class="flex flex-row flex-nowrap items-start justify-between gap-8 w-full">
    <div class="flex flex-col flex-1 min-w-0">
        <p class="text-2xl font-bold">Agentur Baumeister</p>
        <p class="text-2xl mt-10 font-bold">Böckhstraße 13</p>
        <p class="text-sm">10967 Berlin</p>
    </div>
    <div class="flex flex-col flex-1 min-w-0">
        <p class="text-2xl">hallo@agentur-baumeister.com</p>
        <p class="text-2xl"> +49 (0)30 - 490 827 87</p>
    </div>
    <div class="flex flex-col flex-1 min-w-0">
        <p class="text-2xl">LinkedIn</p>   
    </div>
    <div class="flex flex-col flex-1 min-w-0">
        <p class="text-2xl">Instagram</p>   
    </div>
    <div class="flex flex-col flex-1 min-w-0">
        <p class="text-2xl">Impressum</p>   
        <p class="text-2xl">Datenschutz</p>   
    </div>
</div>

