<div class="bg-amber-50">
<div class="min-h-screen flex flex-col">
    <div class="mt-30 ml-50">
        <p class="text-green-700 text-sm font-bold">IMPRINT</p>
    </div>
    <div class="ml-50">
        <p class="text-green-700 text-2xl font-bold">Agentur Baumeister</p>
        <p class="text-green-700 text-xl">Katrein Baumeister</p>
        <p class="text-green-700 text-xl">Böckhstraße 13</p>
        <p class="text-green-700 text-xl">10967 Berlin</p>
    </div>
    <div class="mt-8 ml-50">
        <p class="text-green-700 text-xl">+49 (0)30 - 490 827 87</p>
        <p class="text-green-700 text-xl">hallo@agentur-baumeister.com</p>
    </div>
    <div class="mt-8 ml-50">
        <p class="text-green-700 text-2xl font-bold">UST-IDNR.</p>
        <p class="text-green-700 text-xl">DE 274 486 923</p>
    </div>
    <div class="mt-8 ml-50">
        <p class="text-green-700 text-2xl font-bold">REGISTERED OFFICE</p>
        <p class="text-green-700 text-xl">Berlin, Deutschland</p>
    </div>
    <div class="flex justify-end mr-60 -mt-60">
        <div class="text-right" style="direction: rtl;">
          <h1 class="text-green-700 text-lg font-bold mb-3">DISCLAIMER</h1>
          <p class="text-green-700 text-sm">
            Despite all due care, no liability <br>
            can be accepted for the <br>
            accuracy, completeness and up <br>
            to-dateness of the information <br>
            provided. The same applies to <br>
            third-party websites to which <br>
            www.agentur-baumeister.com <br>
            refers by means of hyperlinks.<br>
            Katrein Baumeister, Agentur<br> 
            Baumeister accepts no liability<br>
            for the content of these websites.
          </p>
        </div>
      </div>
  </div>

    
    <img src="../public/vector_seven.svg" alt="Vector Seven" class="absolute bottom-40 ml-200 w-95 h-95 -mb-15" />
    
    <div class="flex-grow">
    </div>
    <div class="flex flex-row flex-nowrap items-start justify-between gap-8 w-full p-8">
        <div class="flex flex-col flex-1 min-w-0">
            <p class="text-sm font-bold text-green-700">Agentur Baumeister</p>
            <p class="text-sm font-bold text-green-700">Böckhstraße 13</p>
            <p class="text-sm font-bold text-green-700">10967 Berlin</p>
        </div>
        <div class="flex flex-col flex-1 min-w-0">
            <p class="text-sm font-bold underline text-green-700">hallo@agentur-baumeister.com</p>
            <p class="text-sm font-bold text-green-700"> +49 (0)30 - 490 827 87</p>
        </div>
        <div class="flex flex-col flex-1 min-w-0 ml-auto">
            <p class="text-sm font-bold text-green-700">LinkedIn</p>   
        </div>
        <div class="flex flex-col flex-1 min-w-0">
           <p class="text-sm font-bold text-green-700">Instagram</p>   
        </div>
        <div class="flex justify-end mr-5"> <!-- Aligns the div to the right corner -->
            <div class="flex flex-col flex-1 min-w-0 ml-30">
              <p class="text-sm font-bold text-green-700">Impressum</p>   
              <p class="text-sm font-bold text-green-700">Datenschutz</p>   
            </div>
          </div>
</div>

