<div>
    <div>
        <p class="text-2xl">Agentur Baumeister</p>
        <p class="text-2xl">Böckhstraße 13</p>
        <p class="text-sm">10967 Berlin</p>
    </div>
    <div>
        <p class="text-2xl">hallo@agentur-baumeister.com</p>
        <p class="text-2xl"> +49 (0)30 - 490 827 87</p>
    </div>
    <div>
        <p class="text-2xl">LinkedIn</p>   
    </div>
    <div>
        <p class="text-2xl">Instagram</p>   
    </div>
    <div>
        <p class="text-2xl">Impressum</p>   
        <p class="text-2xl">Datenschutz</p>   
    </div>
</div>