<div id="hero-section" class="lg:max-w-[1536px] overflow-hidden py-10 w-full lg:flex">
    <section id="hero-text-section"
        class="xl:mx-auto max-w-screen-2xl w-full lg:self-center lg:absolute lg:flex lg:justify-center lg:items-center z-1 border-2 border-purple-500">
        <p
            class="xl:max-w-[] text-center font-fit font-bold lg:text-[1rem] xl:text-[2rem] lg:max-w-[25ch] text-white border-2 border-red-500">
            We help you
            set
            focus and gain
            impact. By
            adding to the
            conversation, not to the noise.</p>
    </section>
    <section id="polysHolder" class="xl:mx-auto lg:w-full">
        <div id="polys"
            class="max-w-screen-2xl w-full mx-auto lg:grid lg:grid-cols-1 lg:grid-rows-1 lg:place-items-center border-2 border-purple-600">
            <img src="../../public/Vector-blue-hero.svg" id="one" alt="design one"
                class="col-start-1 row-start-1 lg:max-w-[600px] w-[40vw] lg:justify-self-end relative lg:self-start -z-1 lg:-translate-x-[15vw] lg:top-5">
            <img src="../../public/Vector-green-mid-hero.svg" id="two" alt="design two"
                class="w-full col-start-1 row-start-1 lg:max-w-[600px] lg:w-[32vw] -z-2 relative lg:-translate-x-[5vw] lg:-translate-y-[5vh]">
            <img src="../../public/Vector-green-side-hero.svg" id="three" alt="design three"
                class="w-full col-start-1 row-start-1 lg:max-w-[600px] lg:w-[25vw] lg:justify-self-end lg:self-end relative -z-3">
            <img src="../../public/Vector-red-hero.svg" id="four" alt="design four"
                class="col-start-1 row-start-1 lg:max-w-[600px] w-[50vw] -z-4 relative lg:-translate-x-[10vw] lg:translate-y-[15vh]">
            <img src="../../public/Vector-yellow-hero.svg" id="five" alt="design five"
                class="w-full col-start-1 row-start-1 lg:max-w-[600px] lg:w-[40vw] lg:justify-self-start lg:-translate-y-10 -z-5 relative">
            <img src="../../public/Vector-pink-hero.svg" id="six" alt="design six"
                class="w-full col-start-1 row-start-1 lg:max-w-[300px] -z-6 relative lg:self-start lg:-translate-x-[5vw]">
        </div>
    </section>

</div>