<div id="polysHolder"
    class="relative w-full max-w-screen-2xl mx-auto border-2 border-purple-500 no-scrollbar overflow-auto h-[100%] max-h-[450px] md:max-h-[550px] lg:max-h-[650px]">
    <div id="polys"
        class="sticky top-0 w-full h-[700px] md:h-[800px] lg:h-[1000px] no-scrollbar overflow-auto border-2 border-red-500">
        <img src="../../public/Vector-green-mid-hero.svg" alt=""
            class="absolute translate-x-[50%] min-w-[150px] max-w-[45%] object-contain">
        <img src="../../public/Vector-red-hero.svg" alt=""
            class="absolute translate-x-[50%] min-w-[200px] max-w-[50%] object-contain">
        <img src="../../public/Vector-blue-hero.svg" alt=""
            class="absolute translate-x-[50%] min-w-[200px] max-w-[45%] object-contain">
        <img src="../../public/Vector-yellow-hero.svg" alt=""
            class="absolute translate-x-[50%] min-w-[230px] max-w-[55%] object-contain">
        <img src="../../public/Vector-green-side-hero.svg" alt=""
            class="absolute translate-x-[50%] min-w-[165px] max-w-[45%] object-contain">
        <img src="../../public/Vector-pink-hero.svg" alt=""
            class="absolute translate-x-[50%] min-w-[75px] max-w-[40%] object-contain">
    </div>
</div>