<div id="hero-section" class="lg:max-w-[1536px] overflow-hidden py-10 mt-5 w-full lg:flex">
    <section id="hero-text-section"
        class="xl:mx-auto max-w-screen-2xl w-full lg:self-center lg:absolute lg:flex lg:justify-center lg:items-center z-1">
        <p
            class="text-center font-fit font-bold lg:text-[1.5rem] xl:text-[2rem] lg:max-w-[25ch] text-white md:hidden lg:block">
            We help you
            set
            focus and gain
            impact. By
            adding to the
            conversation, not to the noise.</p>
    </section>
    <section id="polysHolder" class="xl:mx-auto lg:w-full relative h-[420px] overflow-auto no-scrollbar">
        <div id="polys"
            class="max-w-screen-2xl w-full min-h-[550px] md:min-h-[600px] mx-auto grid place-items-center grid-cols-1 grid-rows-1">
            <img src="../../public/Vector-blue-hero.svg" id="one" alt="design one"
                class="col-start-1 row-start-1 min-w-[150px] max-w-[40%] translate-x-[50px] -translate-y-[30px] md:max-w-[450px] md:translate-x-[100px] md:-translate-y-[50px] lg:max-w-[550px] xl:max-w-[600px] lg:translate-x-[210px] xl:translate-x-[270px] lg:-translate-y-[40px] xl:-translate-y-[70px] relative -z-4 md:-z-3 lg:-z-1 hidden">
            <img src="../../public/Vector-green-mid-hero.svg" id="two" alt="design two"
                class="hidden w-full col-start-1 row-start-1 max-w-[230px] -translate-x-[120px] -translate-y-[50px] -z-1 md:max-w-[350px] md:-translate-x-[250px] md:-translate-y-[100px] lg:max-w-[400px] lg:-translate-x-[120px] xl:-translate-x-[100px] xl:max-w-[450px] md:-z-1 lg:-z-2 relative">
            <img src="../../public/Vector-green-side-hero.svg" id="three" alt="design three"
                class="w-full col-start-1 row-start-1 justify-self-end min-w-[120px] max-w-[35%] md:max-w-[270px] lg:translate-x-[0px] lg:-translate-y-[0px] lg:max-w-[320px] xl:max-w-[350px] sticky top-0 -z-5 md:-z-4 lg:-z-3">
            <img src="../../public/Vector-red-hero.svg" id="four" alt="design four"
                class="hidden -z-2 md:-z-2 lg:-z-4 max-w-[340px] translate-y-[50px] translate-x-[50px]  md:max-w-[500px] md:translate-y-[80px] md:translate-x-[50px] lg:translate-y-[0px] lg:translate-x-[0px] lg:max-w-[550px] xl:max-w-[670px] absolute mx-auto lg:bottom-0 lg:left-[240px] xl:left-[280px]">
            <img src="../../public/Vector-yellow-hero.svg" id="five" alt="design five"
                class="w-full col-start-1 row-start-1 self-start min-w-[220px] max-w-[60%] md:max-w-[450px] lg:max-w-[600px] justify-self-start -z-5 sticky top-0">
            <img src="../../public/Vector-pink-hero.svg" id="six" alt="design six"
                class="hidden w-full col-start-1 row-start-1 max-w-[200px] -translate-y-[30px] md:max-w-[250px] md:-translate-x-[30px] lg:max-w-[300px] lg:-translate-x-[0px] xl:max-w-[400px] -z-6 absolute top-10">
        </div>
        <div id="backgroundHider" class="absolute w-full h-[80px] -bottom-10 bg-white">
        </div>
    </section>

</div>