<div id="hero-section" class="lg:max-w-[1536px] overflow-hidden py-10 mt-5 w-full lg:flex">
    <section id="hero-text-section"
        class="xl:mx-auto max-w-screen-2xl w-full lg:self-center lg:absolute lg:flex lg:justify-center lg:items-center z-1">
        <p class="text-center font-fit font-bold lg:text-[1.5rem] xl:text-[2rem] lg:max-w-[25ch] text-white">
            We help you
            set
            focus and gain
            impact. By
            adding to the
            conversation, not to the noise.</p>
    </section>
    <section id="polysHolder" class="xl:mx-auto lg:w-full">
        <div id="polys"
            class="relative max-w-screen-2xl w-full mx-auto lg:grid lg:grid-cols-1 lg:grid-rows-1 lg:place-items-center overflow-y-hidden border-2 border-red-500">
            <img src="../../public/Vector-blue-hero.svg" id="one" alt="design one"
                class="col-start-1 row-start-1 lg:max-w-[550px] xl:max-w-[600px] lg:translate-x-[210px] xl:translate-x-[270px] lg:-translate-y-[40px] xl:-translate-y-[70px] relative -z-1">
            <img src="../../public/Vector-green-mid-hero.svg" id="two" alt="design two"
                class="w-full col-start-1 row-start-1 lg:max-w-[400px] lg:-translate-x-[120px] xl:-translate-x-[100px] xl:max-w-[450px] -z-2 relative">
            <img src="../../public/Vector-green-side-hero.svg" id="three" alt="design three"
                class="w-full col-start-1 row-start-1 lg:max-w-[320px] xl:max-w-[350px] lg:justify-self-end lg:self-end relative -z-3">
            <img src="../../public/Vector-red-hero.svg" id="four" alt="design four"
                class="-z-4 lg:max-w-[550px] xl:max-w-[670px] absolute mx-auto bottom-0 lg:left-[240px] xl:left-[280px]">
            <img src="../../public/Vector-yellow-hero.svg" id="five" alt="design five"
                class="w-full col-start-1 row-start-1 lg:max-w-[600px] lg:justify-self-start -z-5 relative">
            <img src="../../public/Vector-pink-hero.svg" id="six" alt="design six"
                class="w-full col-start-1 row-start-1 lg:max-w-[300px] xl:max-w-[400px] xl:-translate-x-[100px] -z-6 absolute top-10">
        </div>
    </section>

</div>