<div class="relative">
    <div class="relative flex lg:hidden">
        <div class="h-[106.6vw]">
            <div class="absolute top-0 left-0 h-[140vw] w-full">
                <img src="../../public/Vector-pink-hero.svg" class="sticky h-[106.6vw] top-[-2.3vw]">
            </div>
            <div class="absolute top-0 left-0 h-[140vw] w-full">
                <img src="../../public/Vector-green-side-hero.svg" class="sticky h-[106.6vw]">
            </div>
            <div class="absolute top-0 left-0 h-[140vw] w-full">
                <img src="../../public/Vector-yellow-hero.svg" class="sticky h-[106.6vw] top-0">
            </div>
            <div class="absolute top-0 left-0 h-[140vw] w-full">
                <img src="../../public/Vector-blue-hero.svg" class="sticky h-[106.6vw] top-[-18.4vw]">
            </div>
            <div class="absolute top-0 left-0 h-[140vw] w-full">
                <img src="../../public/Vector-red-hero.svg" class="sticky h-[106.6vw] top-[-53.6vw]">
            </div>
            <div class="absolute top-0 left-0 h-[140vw] w-full">
                <img src="../../public/Vector-green-mid-hero.svg" class="sticky h-[106.6vw] top-[-13.8vw]">
            </div>

        </div>
    </div>
    <div class="relative hidden lg:flex">
        <div class="h-[73vw]">
            <div class="absolute top-0 left-0 h-[90vw] w-full">
                <img src="../../public/Vector-pink-hero.svg" class="sticky h-[68vw] top-[-1.6vw]">
            </div>
            <div class="absolute top-0 left-0 h-[90vw] w-full">
                <img src="../../public//Vector-green-side-hero.svg" class="sticky h-[68vw]">
            </div>
            <div class="absolute top-0 left-0 h-[90vw] w-full">
                <img src="../../public/Vector-yellow-hero.svg" class="sticky h-[68vw] top-0">
            </div>
            <div class="absolute top-0 left-0 h-[90vw] w-full">
                <img src="../../public/Vector-red-hero.svg" class="sticky h-[68vw] top-[-33.7vw]">
            </div>
            <div class="absolute top-0 left-0 h-[90vw] w-full">
                <img src="../../public/Vector-green-mid-hero.svg" class="sticky h-[68vw] top-[-9.8vw]">
            </div>
            <div class="absolute top-0 left-0 h-[90vw] w-full">
                <img src="../../public/Vector-blue-hero.svg" class="sticky h-[68vw] top-[-4.7vw]">
            </div>
        </div>
    </div>

    <div class="absolute -top-2 flex justify-center items-center w-full h-full">
        <h1 class="text-white text-2xl md:text-4xl lg:text-5xl text-center w-[15rem] md:w-[21rem] lg:w-[28rem]">
            We help you set
            focus and gain
            impact. By adding
            to the conversation,
            not to the noise.
        </h1>
    </div>
</div>