<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reference Section</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-[#EFECEA]">
    <div
        class="bg-[url('../public/rectangle_three.png')] bg-cover bg-center h-64 w-full min-h-screen flex items-center justify-end pt-20 pb-20 mt-4">
        <div class="text-black text-xs font-Outfit:wght@400 tracking-wider text-right pr-20">
            <p>Ace Hotel</p>
            <p>ARMEDANGELS</p>
            <p>BERLIN DESIGN WEEK</p>
            <p>Berliner Berg</p>
            <p>BITE CLUB</p>
            <p>Budweiser Budvar</p>
            <p>ChungKing Noodles</p>
            <p>Designpreis Brandenburg</p>
            <p>Die Techniker</p>
            <p>European Street Food Awards</p>
            <p>Grundmann Dentistry</p>
            <p>HORNBACH Werkstück</p>
            <p>HORNBACH macht Schule</p>
            <p>iF Design</p>
            <p>Kopka</p>
            <p>KLH Maßschuhe</p>
            <p>Lode & Stijn</p>
            <p>Luya</p>
            <p>MEISSEN</p>
            <p>Motel Beer & Coffee</p>
            <p>PAPER & TEA</p>
            <p>rocket & basil</p>
            <p>Seeberger Gruppe</p>
            <p>Shiori</p>
            <p>SPOC Magazin</p>
            <p>stocubo</p>
            <p>STUR</p>
            <p>World of Coffee</p>
            <p>yamo</p>
        </div>
    </div>
    </div>
</body>

</html>