<!-- <section class="bg-amber-300"> -->

<div class="bg-white">
    <div class="bg-white">
        <div class="absolute w-[100vw] h-[125vh] top-[250vh] left-[0.1vw] bg-cover bg-no-repeat bg-center"
            style="background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1511 1383%22%3E%3Cpath d=%22M0 0H1512V1352L479.5 1382.46L0 1352V0Z%22 fill=%22%23FFE800%22/%3E%3C/svg%3E');">
    
     
        <div class="text-black text-[24px] font-Outfit tracking-wider lg:text-right lg:pr-40 px-20 text-right pt-40 pb-40">
            <p>Ace Hotel</p>
            <p>ARMEDANGELS</p>
            <p>BERLIN DESIGN WEEK</p>
            <p>Berliner Berg</p>
            <p>BITE CLUB</p>
            <p>Budweiser Budvar</p>
            <p>ChungKing Noodles</p>
            <p>Designpreis Brandenburg</p>
            <p>Die Techniker</p>
            <p>European Street Food Awards</p>
            <p>Grundmann Dentistry</p>
            <p>HORNBACH Werkstück</p>
            <p>HORNBACH macht Schule</p>
            <p>iF Design</p>
            <p>Kopka</p>
            <p>KLH Maßschuhe</p>
            <p>Lode & Stijn</p>
            <p>Luya</p>
            <p>MEISSEN</p>
            <p>Motel Beer & Coffee</p>
            <p>PAPER & TEA</p>
            <p>rocket & basil</p>
            <p>Seeberger Gruppe</p>
            <p>Shiori</p>
            <p>SPOC Magazin</p>
            <p>stocubo</p>
            <p>STUR</p>
            <p>World of Coffee</p>
            <p>yamo</p>
        </div>
    </div>
    </div>
 
<!-- </section> -->
 