
<div class="bg-white">
    <div class="bg-white">
        <div class="  w-[19rem] h-[84rem] top-[228rem] left-[0.1vw] bg-cover bg-no-repeat bg-center pl-0"
            style="background-image: url('public/Rectangle3.svg');">
    
     
        <div class="text-black text-[24px] font-Outfit w-[19rem] h-[56rem] lg:text-right lg:pr-40 px-20 text-right top-[244rem] pl-[62rem] pb-40">
            <p>Ace Hotel</p>
            <p>ARMEDANGELS</p>
            <p>BERLIN DESIGN WEEK</p>
            <p>Berliner Berg</p>
            <p>BITE CLUB</p>
            <p>Budweiser Budvar</p>
            <p>ChungKing Noodles</p>
            <p>Designpreis Brandenburg</p>
            <p>Die Techniker</p>
            <p>European Street Food Awards</p>
            <p>Grundmann Dentistry</p>
            <p>HORNBACH Werkstück</p>
            <p>HORNBACH macht Schule</p>
            <p>iF Design</p>
            <p>Kopka</p>
            <p>KLH Maßschuhe</p>
            <p>Lode & Stijn</p>
            <p>Luya</p>
            <p>MEISSEN</p>
            <p>Motel Beer & Coffee</p>
            <p>PAPER & TEA</p>
            <p>rocket & basil</p>
            <p>Seeberger Gruppe</p>
            <p>Shiori</p>
            <p>SPOC Magazin</p>
            <p>stocubo</p>
            <p>STUR</p>
            <p>World of Coffee</p>
            <p>yamo</p>
        </div>
    </div>
    </div>
 

 
