<div class="absolute w-[14vw] h-[9vh] top-[156vh] left-[43vw] flex items-center justify-center">
    <div class="w-full h-full bg-no-repeat bg-center bg-contain"
        style="background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 208 134%22%3E%3Cpath d=%22M5.90991 12.3421L0 70.5263L46.1261 124.383L168.072 134L208 70.0455L149.333 0L5.90991 12.3421Z%22 fill=%22%23FFE800%22/%3E%3C/svg%3E');">
    </div>
</div>
<div class="absolute w-[37vw] h-[56vh] font-Outfit font-medium text-[48px] leading-[100%] space-y-[25px] top-[182vh] left-[13vw]">
    <p>Brand strategy</p>
    <p>Corporate Identity & Website development</p>
    <p>SEO & copywriting</p>
    <p>Media Relations</p>
    <p>Digital marketing & content production</p>
    <p>Influencer relations</p>
</div>

<div class="absolute w-[32vw] h-[50vh] top-[182vh] left-[43vw] bg-no-repeat bg-center bg-contain"
    style="background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 452 685%22%3E%3Cpath d=%22M37.7041 660.494L251.249 684.27L451.84 529.678L451.009 108.259L267.939 0.834985L112.495 37.4246L0.478387 168.846L37.7041 660.494Z%22 fill=%22%2300672E%22/%3E%3C/svg%3E');">
</div>
