 
    <div class="relative bg-white p-10 shadow-lg w-3/4 md:w-2/3 lg:w-1/2">
         
        <img src="" alt="Yellow Polygon" class="absolute top-0 left-1/2 transform -translate-x-1/2 w-16" />
        
        <div class="text-left space-y-4 pt-6">
            <h2 class="text-lg font-semibold">Brand strategy</h2>
            <h2 class="text-lg font-semibold">Corporate Identity & Website development</h2>
            <h2 class="text-lg font-semibold">SEO & copywriting</h2>
            <h2 class="text-lg font-semibold">Media Relations</h2>
            <h2 class="text-lg font-semibold">Digital marketing & content production</h2>
            <h2 class="text-lg font-semibold">Influencer relations</h2>
        </div>
         
        <div class="relative mt-20 flex justify-end">
            <img src=" " alt="Green Polygon" class="w-48" />
            <p class="absolute top-1/4 left-10 text-white text-sm w-40">
                Our strategic approach is a collaborative journey that starts with analyzing the initial situation
                and leads to messages that cut through the information overload...
            </p>
        </div>
    </div>
 
