@import "tailwindcss";

@theme {
    --font-fit: "Outfit", "sans-serif";
    --color-primary: #00672E; /* default color*/
    --color-background: #EFECEA; /*background color*/
    /* --breakpoint */
}
 